#profile {
    background-color: #aaaaaa;
    height: 650px;
}

#education {
    background-color: #5da0d7;
    height: 650px;
}

#experience {
    background-color: #a266a7;
    height: 650px;
}

#contact {
    background-color: #7fffd4;
    height: 650px;
}
