nav {
    background: #333;
    text-align: center;

    .about-nav {
        background: white;

        a {
            display: inline-block;
            padding: 0 16px;
            color: #666;
            line-height: 32px;
        }

        a:hover {
            background: #ddd;
            color: #333;
        }
    }
}
