$text-color: white;

.main-nav {
    padding: 20px;
    text-align: center;
    background-color: #333;
    border-radius: 5px 5px 0 0;

    a {
        color: $text-color;
        text-decoration: none;
    }
}

.sub-nav {
    padding: 10px;
    text-align: center;
    background-color: #777;
    border-radius: 0 0 5px 5px;

    a {
        padding: 10px;
        color: $text-color;
        text-decoration: none;
    }

    a:hover {
        color: $text-color - 50;
    }
}
